.description{
	.cell{
		width:100%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
}
.cyq-block{
	width:600px;
	margin:20px auto;
}
.search{
	position:fixed;
	top:37px;
	left:250px;
	min-width: 400px;
	z-index:999;
}
.toggle{
	position:fixed;
	top:53px;
	right:200px;
	z-index:999;
	background: #1ab394;
}
.toggle:hover,.toggle:active,.primary,.toggle:focus{
	background: #1ab394;
}
