.description{
	.cell{
		width:100%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
}
.block{
	width:600px;
	margin:20px auto;
}
.search{
	position:fixed;
	top:34px;
	left:250px;
	right:300px;
	z-index:999;
}